.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
}

.movie-list{
    margin: 15px;

}

.movie-list article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}

.movie-list strong{
    padding-bottom: 15px;
    font-size: 20px;
}

.img{
    max-height: 350px;
    width: 900px;
}

.movie-list article a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    background-color: brown;
    width: 100%;
    margin-top: -30px;
    text-align: center;
    height: 40px;
    border-radius: 5px;
}

.movie{

}